[submodule "src/libs/ComponentSystem"]
	path = src/libs/ComponentSystem
	url = https://github.com/nedrysoft/componentsystem
[submodule "src/libs/Ribbon"]
	path = src/libs/Ribbon
	url = https://github.com/nedrysoft/qt-ribbon
[submodule "src/libs/SettingsDialog"]
	path = src/libs/SettingsDialog
	url = https://github.com/nedrysoft/SettingsDialog
[submodule "src/libs/FontAwesome"]
	path = src/libs/FontAwesome
	url = https://github.com/nedrysoft/FontAwesomeForQt
[submodule "src/libs/3rdparty/rapidfuzz-cpp"]
	path = src/libs/3rdparty/rapidfuzz-cpp
	url = https://github.com/maxbachmann/rapidfuzz-cpp.git
[submodule "src/libs/3rdparty/spdlog"]
	path = src/libs/3rdparty/spdlog
	url = https://github.com/gabime/spdlog.git
