[Desktop Entry]
Type=Application
Name=Pingnoo
Exec=/usr/local/bin/pingnoo/Pingnoo
Icon=/usr/share/icons/hicolor/512x512/apps/pingnoo.png
Comment=Pingnoo, an open source network ping analyser
Keywords=Internet;Ping;Traceroute;Analyzer;
Terminal=false
Categories=Network;
Name[en_GB]=Pingnoo.desktop
StartupNotify=true
Encoding=UTF-8